.content-main-content tr {
    height: unset;
    cursor: unset;
}

.content-main-content th {
    height: 48px;
}

.detail {
    font-size: 1.2rem;
    cursor: pointer;
    /* transform: rotate(-90deg); */
}
.show-detail {
    display: contents !important;
}
.hide-detail {
    display: none;
}

.detail-box {
    display: none;
}

.detail-info {
    /* display: none; */
    padding: 10px 50px !important;
}

.info-item {
    padding: 5px 0;
}

.accepted {
    color: forestgreen;
}

.rejected {
    color: red;
}

.not-approved {
    color: darkorange;
}

.warning-button {
    background-color: darkorange;
}

.warning-button:hover {
    background-color: rgb(245, 178, 97);
}

.dialog-body-custom {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
}