/* css cho các alert ví dụ: xác nhận khi xóa dữ liệu */
.alert-delete {
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  display: none;
}
.alert-header {
  justify-content: space-between;
  padding: 16px;
}
.alert-content{
  padding-left: 16px;
  padding-right: 16px;
}
.alert-content{
  display: flex;
  padding-bottom: 8px;
}
.alert-content-icon{
  background-color:  #e6e6e6;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
}
.alert-content-title{
  padding-left: 8px;
}
.m-alert {
  left: calc((100vw - 500px) / 2);
  top: 250px;
  position: absolute;
  width: 500px;
  border-radius: 5px;
  background-color: white;
}
.btn-cancle-alert {
  cursor: pointer;
}
.alert-footer{
  height: 50px;
  padding-top: 8px;
  background-color: #e6e6e6;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}