.down-content {
    z-index: 0;
}

.content {
    position: absolute;
    top: 61px;
    left: 221px;
    width: 20px;
    width: calc(100% - 221px);
    height: calc(100vh - 61px);
}

.content-title-up {
    display: flex;
    margin-left: 16px;
    margin-top: 20px;
    margin-right: 16px;
}

.content-title-up .left {
    font-family: GoogleSans-Bold;
    font-size: 20px;
}

.content-title-up .right {
    display: flex;
    position: absolute;
    right: 16px;
}

.m-btn {
    outline: none;
    border: 0.5px solid #e5e5e5;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.m-btn:hover {
    background-color: #2fbe8e;
}

.m-btn:focus {
    background-color: #01b075;
}

.sync-m-btn {
    background-color: #ffffff;
    margin-right: 5px;
}

.sync-m-btn:hover {
    background-color: #e9ebee;
}

.sync-m-btn .m-btn-img {
    background-image: url("/assets/img/sync-color.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    padding-right: 8px;
}

.sync-m-btn .m-btn-content {
    color: #000000;
}

.add-user-m-btn .m-btn-img {
    background-image: url("/assets/img/add-user.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    padding-right: 8px;
}

.add-user-m-btn {
    background-color: #019160;
}

.content-title-down {
    margin-top: 30px;
    display: flex;
    margin-left: 16px;
    align-items: flex-end;
}

.content-title-down .left {
    display: flex;
}

.content-title-down .left>* {
    margin-right: 15px;
}

.content-title-down .right {
    display: flex;
    position: absolute;
    right: 16px;
}

.content-title-down .right>div {
    display: block;
    background-color: #ffffff;
    margin-left: 15px;
    border: 1px solid #bbbbbb;
    padding: 10px;
    color: #a3a3a3;
    font-size: 10px;
    border-radius: 4px;
}

.content-title-down .left .input-icon input {
    padding: 0;
    font-size: 12px;
    color: #bbbbbb;
    border: 0;
    outline: none;
}

.input-icon {
    color: #bbbbbb;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    height: 40px;
    border: 1px solid #bbbbbb;
}

.icon-input-icon {
    padding-left: 16px;
    padding-right: 8px;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

.input-group input {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    outline: none;
    border-right: 1px solid #bbbbbb;
}

.input-group-icon {
    padding-left: 16px;
    padding-right: 16px;
}

.content-title-down .left select {
    padding-left: 16px;
    padding-right: 32px;
    height: 42px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    font-size: 13px;
    color: #000000;
}

.content-title-down .right>* {
    cursor: pointer;
}

.content-main {
    margin-top: 20px;
}

.content-main-content .table td,
th {
    padding-right: 10px;
    padding-left: 10px;
}

.content-main-content .table {
    height: calc(100vh - 200px);
    overflow: scroll;
}

.content-main-content .table tr,
.content-main-content .table td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content-main-content .table::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

.content-main-content .table::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 3px;
}

.content-main-content table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

.content-main-content tr:not(.head) {
    border-top: 1px solid #bbbbbb;
    font-size: 13px;
}

.content-main-content tr {
    height: 48px;
    cursor: pointer;
    transition: 0.2s;
}

.content-main-content tr:not(.head):hover {
    background-color: #bbbbbb;
}

.content-main-footer {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: calc(100% - 32px);
    font-size: 12px;
    height: 56px;
    margin-left: 16px;
}

.content-main-footer .center {
    margin-left: auto;
    margin-right: auto;
}

.content-main-footer .center>* {
    cursor: pointer;
}

.content-main-footer .center .number {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #bbbbbb;
    justify-content: space-around;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
}

.content-main-footer .number-bar {
    margin-right: 20px;
    margin-left: 20px;
}

.content-main-footer .right .number-employee {
    cursor: pointer;
    margin-right: 16px;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.content-main-footer .bold {
    font-weight: bold;
}

.content-main-footer .center .icon-left {
    margin-left: 20px;
}

.content-main-footer .center .icon-right {
    margin-right: 20px;
}

.alight-center-table {
    text-align: center;
}

.alight-left-table {
    text-align: left;
}

.alight-right-table {
    text-align: right;
}

.include-content {
    display: none;
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

.text-align-right {
    text-align: right;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.popup-detail{
    width: 200px;
    padding: 10px;
    background-color: #bbbbbb;
    position: absolute;
    z-index: 100;
    top: 60px;
    right: 15px;
    border-radius: 20px;
    display: none;
    transition: 2s;
}
.popup-detail> *{
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    background-color: #cacaca;
    margin-bottom: 5px;
    border-radius: 5px;
}
.popup-detail> *:hover{
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    
}
.content-changePassword{
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;   
    display: none;
}

.dialog-changepassword{
    top: 200px;
    left: calc((100vw - 500px)/2);
    position: absolute;
    width: 500px;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    height: 400px;
}
.dialog-changepassword-content{
    padding: 20px;
}