/* css cho phần form hiển thị thêm, sửa dữ liệu */
.dialog-header {
  justify-content: space-between;
}
.dialog-footer {
  background-color: #e6e6e6;
  height: 50px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.m-dialog {
  top: 2px;
  left: calc((100vw - 900px)/2);
  position: absolute;
  width: 900px;
  margin: auto;
  border-radius: 5px;
  background-color: white;
}
.btn-cancle-dialog {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("/assets/img/cancel.png");
}
.m-avatar img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
}
.dialog-content {
  padding: 10px;
  padding-left: 20px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #000000;
}

.btn-footer {
  padding-right: 10px;
  float: right;
  height: 100%;
}
.btn-footer button {
  display: block;
  margin: auto;

  margin-right: 10px;
}
.m-control input {
  width: calc(100% - 32px);
}
select.m-control {
  width: calc(100% - 16px);
}
#btnSave .m-btn-icon {
  background-repeat: no-repeat;
}
.border-red {
  border-color: red;
}
input {
  color: black;
}
.infor-dialog-decor{
  width: 100px;
  height: 5px;
  margin-top: 5px;
  background-color: #019160;
}