/* css cho các grid chia flex */
.m-row{
   margin-top: 10px;
}

.m-flex-1{
    flex:1;
}

.m-flex-2 {
    flex: 2;
}

.m-flex-3 {
    flex: 3;
}

.m-flex-4 {
    flex: 4;
}

.m-flex-5 {
    flex: 5;
}

.m-flex-6 {
    flex: 6;
}

.m-label{
    margin-bottom: 4px;
}

.m-flex{
    display: flex;
}
