.header {
    position: absolute;
    top: 0;
    left: 221px;
    width: calc(100% - 221px);
    height: 60px;
    border-bottom: 1px solid #E5E5E5;
}
.header-right{
    float: right;
    margin-right: 20px;
    display: flex;
    background-color: rgb(211, 211, 211);
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px rgb(190, 190, 190);
}

.header-right:hover{
    background-color: rgb(177, 177, 177);
}
/* .header-right-avatar img {
    margin-top: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
} */
.header-right > *{
    margin-left: 16px;
    cursor: pointer;
}
#Avatar {
    width: 25px;
    border-radius: 50%;
}