body {
  font-family: GoogleSans-Regular;
  margin: 0;
}
@font-face {
  font-family: "GoogleSans-Regular";
  src: url(/assets/font/GoogleSans-Regular.otf) format('opentype');
}
@font-face {
  font-family: "GoogleSans-Italic";
  src: url(/assets/font/GoogleSans-Italic.otf) format('opentype');
}
@font-face {
  font-family: "GoogleSans-Bold";
  src: url(/assets/font/GoogleSans-Bold.otf) format('opentype');
}
@font-face {
  font-family: "GoogleSans-Light";
  src: url(/assets/font/GoogleSans-Light.otf) format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('/assets/font/GoogleSans-Medium.otf') format('opentype');
}
